*.ss~
*.ss#*
.#*.ss

*.scm~
*.scm#*
.#*.scm
*.rkt~
.DS_Store
*.rkt#1#
*.rkt#2#
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/LenguajesDeProgramacion.iml
Racket/Project/Game_Of_Life-Christian_A-Alejandro_G.zip
